
<div class="face-snap-card" [ngClass]="{'snapped': alreadySnaped}">
    <p>{{faceSnap.title | titlecase}}</p>
    <p>{{faceSnap.description | uppercase}}</p>
    <!-- Aller voir formatage dates ci dessous  -->
    <!-- https://angular.io/guide/i18n-common-format-data-locale -->
    
    <!-- Plusieurs exemples -->
    <!-- <p>{{faceSnap.createdDate | date:'longDate'}}</p> -->
    <!-- <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm' }}</p> -->
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>

    <button (click)="onAddSnap()">{{ alreadySnaped == true ? 'Oups snap !' : 'Oh snap !' }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps+100 + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>

    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
</div>

